/* place for your css or less style */

 ul {
    width: 176px;
}

div.container {
    width: 100%;
    border: 1px solid green;
    background-color: #1A2123;
}

header{
    padding: 1em;
    color: white;
    background-color: #036D19;
    clear: left;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}
footer {
    padding: 1em;
    color: white;
    background-color: #036D19;
    clear: left;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
nav.navMenu {
    float: left;
    max-width: 160px;
    padding: 1em;
    padding-top: 10em;
    position: fixed;
}

div.row-content {
    padding: 15px;
    overflow: visible;
}
img.film-image {
	width: 160px;
    height: 245px;
    padding-right: 10px;
}
div.film-card {
	max-width: 180px;
    padding: 10px;
    overflow: visible;
    display: table-cell;
    text-align: left;

}
div.main-content {
    margin-left: 150px;
    margin-top: 7em;
    margin-bottom: 3em;
    position: static;
    border-left: .5em solid #036D19;
}

div.input-group{
	padding: 1.5em;
    padding-left: 3em;
    max-width: 30em;
}

h1.main-header{
    max-width: 5em;
    float: left;
}


h1.tittleRow{
    padding-left: .7em;
}
a.film-title {
    color: #cc0000;
    cursor: pointer;
}

a.film-title:link {
    color: #cc0000;
    cursor: pointer;
}
a.film-title:visited {
    color: #999999;
    cursor: pointer;
}
a.film-title:hover {
    color: #ff3300;
    cursor: pointer;
}

/**/
div.divHeaderButton{
    float:right;
    padding-top: 1.3em;
    padding-right: 1em;
    //max-width: 10em;
}

button.headerButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}
/**/
