/* place for your css or less style */

 ul {
    width: 176px;
}

div.container {
    width: 100%;
    border: 1px solid green;
}

header{
    padding: 1em;
    color: white;
    background-color: #003300;
    clear: left;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}
footer {
    padding: 1em;
    color: white;
    background-color: #003300;
    clear: left;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
nav {
    float: left;
    max-width: 160px;
    padding: 1em;
    padding-top: 6em;
    position: fixed;
}

div.row-content {
    padding: 15px;
    overflow: visible;
}
img.film-image {
	width: 160px;
    height: 245px;
    padding-right: 10px;
}
div.film-card {
	max-width: 180px;
    padding: 10px;
    overflow: visible;
    display: table-cell;
    text-align: left;

}
div.main-content {
    margin-left: 170px;
    margin-top: 7em;
    margin-bottom: 5em;
    border-left: solid gray;
    position: static;
}

div.input-group{
	padding: 1.5em;
    padding-left: 3em;
    max-width: 30em;
}

h1.main-header{
    max-width: 5em;
    float: left;
}

div.divHeaderButton{
    float:right;
    padding-top: 1.3em;
    padding-right: 1em;
    //max-width: 10em;
}

button.headerButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

/*
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 5em;
    max-height: 5em;
}
*/
